<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fitnessappbackend-code.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fitnessappbackend-code.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fitnessappbackend-code</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fitnessappbackend-code</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="fitnessappbackendService.Models.fitnessappbackendContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fitnessappserver.database.windows.net,1433;Initial Catalog=FITNESSDATABASE;User ID=klutes@fitnessappserver;Password=Flamebo00!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="fitnessappbackendService.Models.fitnessappbackendContext, fitnessappbackendService" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:fitnessappserver.database.windows.net,1433;Initial Catalog=FITNESSDATABASE;User ID=klutes;Password=Flamebo00!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:fitnessappserver.database.windows.net,1433;Database=FITNESSDATABASE;User ID=klutes;Password=Flamebo00!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)fitnessappbackendService.Models.fitnessappbackendContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fitnessappserver.database.windows.net,1433;Initial Catalog=FITNESSDATABASE;User ID=klutes@fitnessappserver;Password=Flamebo00!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="fitnessappbackendService.Models.fitnessappbackendContext" />
  </ItemGroup>
</Project>